*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-seriff;
}
.nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #adccb7, #7ac781);

}
.navbar-brand img
{
    height: 6px;
    padding-left: 4px;

}
.navbar-nav li 
{
    padding: 0 10px;
}

}
/*---------banner section-------*/

#banner 
{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}
