header{
    background-color: #7fa188;
    height:100vh;
    background-position: center;
    background-size: cover;
}

.nav-link{
    margin-right: 15px;
    margin-left: 10px;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 900;
    font-style: oblique;
}

.logo-img{
    height:140px;
    padding-left: 2rem;
}


ul li{
    padding-left: 0rem;
}

li{
    margin: 10px;
  }

  ul {
        margin-right: 10px;
        display: grid;
        gap: 2px;
}

svg{
    margin-right: 1rem;
}

h1{
 margin-right:53rem;
    color: beige


}

.form-label{
    margin-right:1rem;
    color: beige
}


.container {
  position: relative;
  text-align: center;
  color: rgb(196, 39, 39);
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

