*{
   /* outline: 1px solid gray */
}

header{
  background-color: #caebd2;
  height:30vh;
  background-position: center;
  background-size: cover;
}

.row{
  display: flex;
}

.nav-link{
  margin-right: 2px;
  margin-left: 2px;
  text-transform: uppercase;
  color: black;
}

ul li{
  font-style: inherit;
  font-weight: 500;
  padding-left: 2rem;
}

li{
  margin: 5px 0;
}

ul {
      margin-right: 1px;
      display: grid;
      gap: 2px;
}


.logo-img{
  height:120px;
  padding-left: 1rem;
}


svg{
  margin-top: 3rem;
  margin-right: -78rem;
  color: black;
}